/HelloBeans/nbproject/private/
/HelloBeans/build/
/HelloBeans/dist/
/showParam/nbproject/private/
/showParam/build/
/showParam/dist/
/calculadoraPrestamo/nbproject/private/
/calculadoraPrestamo/build/
/calculadoraPrestamo/dist/
/TiposEstructurados/nbproject/private/
/TiposEstructurados/build/
/estrucDecision/nbproject/private/
/estrucDecision/build/
/CobroPagos/nbproject/private/
/CobroPagos/build/
